<!-- <nav style="background: #20232a; color: white; padding: 1rem;">
  <h2 style="display: inline-block; margin-right: 2rem;">🛒 Ngoding Produk</h2> -->
  
  <!-- User Section -->
  <!-- <a routerLink="/" style="margin-right: 1rem; color: #61dafb;">User View</a>
  <a routerLink="/product/1" style="margin-right: 1rem; color: #61dafb;">Product Detail</a> -->

  <!-- Admin Section -->
  <!-- <a routerLink="/admin" style="margin-right: 1rem; color: #61dafb;">Admin Dashboard</a>
  <a routerLink="/admin/products" style="margin-right: 1rem; color: #61dafb;">Product List</a>
  <a routerLink="/admin/users" style="margin-right: 1rem; color: #61dafb;">User Management</a>
</nav> -->

<!-- Tempat konten halaman -->
<router-outlet></router-outlet>

